<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/static/output.css">
    <script src="/static/jquery-3.7.1.min.js"></script>
</head>
<body class="h-screen flex items-center justify-center ">
    <div class="px-64">
        <p class="mb-2"><strong>Herzlich willkommen zum Auswahltest!</strong></p>
        <p class="mb-2">Wir freuen uns, dass Sie sich die Zeit nehmen, an unserem Bewerbungsprozess
        teilzunehmen. In den folgenden Tests werden wir Ihre verschiedenen Fähigkeiten und
        Kompetenzen genauer unter die Lupe nehmen. Diese Tests sind darauf ausgelegt, Ihre Eignung
        für die ausgeschriebene Position zu bewerten.<p>
        <p class="mb-2">Bitte nehmen Sie sich die nötige Zeit und Ruhe, um die Aufgaben sorgfältig zu
        bearbeiten. Jeder Test ist ein wichtiger Baustein, um ein vollständiges Bild Ihrer
        Fähigkeiten zu erhalten.</p>
        <p class="mb-2">Um zu starten, klicken Sie einfach auf die untenstehenden Links. Jeder Link führt Sie zu
        einem spezifischen Test, der einen bestimmten Bereich Ihrer Kenntnisse und Fertigkeiten
        abdeckt.</p>
        <p class="mb-2">Wir wünschen Ihnen viel Erfolg!</p>

        <ul class="list-disc pl-4">
            {% for k,v in tests.items() %}
            <li id="{{k}}" data-solved="0" {%if not v%}hidden{%endif%}>
                <a href="{{ urls[k] }}" class="underline text-blue-700" onclick="update_solved_tests(event)">
                    {{ k }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- This needs to live specifically here because `tests` gets sent here from the backend -->
    <script>
        let solved_tests = {};
        $(function () {
            if (localStorage.getItem("solved_tests") === null) {
                let tests = JSON.parse(`{{ tests|tojson }}`);

                // filter out tests that dont need to be solved
                for (let key in tests)
                    if (tests.hasOwnProperty(key) && tests[key] !== 1) delete tests[key];

                // initialize array to track solved tests
                for (let key in tests) solved_tests[key] = 0;
                localStorage.setItem("solved_tests", JSON.stringify(solved_tests));
            } else {
                solved_tests = JSON.parse(localStorage.getItem("solved_tests"));
                let numOfElements = Object.entries(solved_tests).length;
                let counter = 0;

                for (let key in solved_tests) {
                    if (solved_tests[key] == 1) {
                        counter++;
                        $("#" + key).data("solved", 1);
                    }
                }
                if (counter == numOfElements) location.href = "/ClosingPage";
            }

            $("li").each(function (index, elem) {
                if ($(this).data("solved") == 1) $(this).hide();
            });
        });

        function update_solved_tests(event) {
            let key = event.target.parentNode.id;
            solved_tests[key] = 1;
            localStorage.setItem("solved_tests", JSON.stringify(solved_tests));

            $("#" + event.target.parentNode.id).data("solved", 1);
        }
    </script>
</body>
</html>